.stocks {
    height: 100%;
    width: 100%;
    padding: 2.4rem;

    mat-form-field {
        margin-right: 1.6rem;
    }

    .submit-button {
        max-height: 36px;
        display: inline;
    }
}